
.App {
  text-align: center;
  /* border: 2px solid red; */
  width: 35%;
  margin: auto;
  background:url('https://cdn.99images.com/photos/wallpapers/others/hd-phone%20android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-2nmkn.jpg') center center/cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 4%;
  box-sizing: border-box;
}

